.doc-sidebar-div {
    background-color: #f2f2f2;
    padding: 20px;
}

.doc-sidebar-h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.doc-sidebar-ul {
    list-style-type: none;
    padding: 0;
}

.doc-sidebar-li {
    margin-bottom: 10px;
}

.doc-sidebar-a {
    text-decoration: none;
    color: #333;
}

.doc-sidebar-a:hover {
    color: #666;
}
