@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  background: #ffffff;
}
nav{
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}
nav .logo{
  color: #000000;
  font-style: italic;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .logo a{
  text-decoration: none;
  font-style: italic;
  color: black;
}
.dropdown{
  position: fixed;
  width: 100%;
  background-color: #DFF0F8;
  padding: 15px;
}
 .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 60px;
}
.nav-items li{
  list-style: none;
  padding: 0 15px;
}
.nav-items li a{
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.nav-items li a:hover{
  color: darkgrey;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  min-width: 18%!important;

}
nav form .search-data{
  width: 500px;
  padding: 0 10px;
  font-size: 17px;
  background-color: #DFF0F8;
  border-radius: 10px 0px 0px 10px;
  border: none;
}
nav form button{
  padding: 0 15px;
  color: #000000;
  font-size: 17px;
  background: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  border:1px solid;
}
nav form button:hover{
  background: #83838376;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}
img{
  width: 30px;
  height: 30px;
}
.profile-pics{
  cursor: pointer;
}
.profile-pics img{
  width: 24px;
  height: 24px;
}